<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>
<br>
<% if @user_crops.size == 0 %>
    <small><p>No harvested crops yet!</p></small>
<% end %>
<ul>
    <% @user_crops.each do |crop| %>
        <li><%= crop.season %> <%= crop.year %> - <a href="/crops/<%= crop.id %>"><%= crop.name %></a> (<%= crop.quantity %>)</li>
    <% end %>
</ul>
<br>
<br>
<br>
<% if current_user.id == @user.id %>
    <form action="/crops/new" method="get">
        <input type="submit" value="New Crop">
    </form>
<% end %>
