<h1>Edit your Crop!</h1>
<small style="color: red;"><%= @errors %></small>

<form action="/crops/<%= @crop.id %>" method="post">
<input type="hidden" name="_method" value="patch">
    <label for="crop_name">Name: </label><br>
        <input type="text" name="crop[name]" id="crop_name" value="<%= @crop.name %>"><br><br>
    <label for="crop_quantity">Quantity Harvested: </label><br>
        <input type="number" name="crop[quantity]" id="crop_quantity" value="<%= @crop.quantity %>" min="1"><br><br>
    <label for="crop_text">Year Harvested: </label><br>
        <input type="number" name="crop[year]" id="crop_year" value="<%= @crop.year %>"><br><br>
    <label for="crop_season">Season: </label><br>
        <% seasons = ["Winter", "Spring", "Summer", "Fall"] %>
        <% seasons.each do |s| %>
            <input type="radio" name="crop[season]" id="crop_season" value="<%= s %>"
            <%= 'checked' if @crop.season == s %>> <%= s %><br>
        <% end %>
    <br><br>
    <br>
    <input type="submit" value="Update Crop">
</form>