<h1><%= @crop.name %></h1>
<h2>Planted by: <a href="/users/<%= @crop.user.id %>"><%= @crop.user.username %></a></h2>
<p>Amount Harvested: <%= @crop.quantity %></p>
<p>Year Harvested: <%= @crop.year %></p>
<p>Season: <%= @crop.season %></p>
<br>

<% created = @crop.created_at.in_time_zone('America/Chicago').strftime("%-m/%d/%Y %r %Z") %>
<% updated = @crop.updated_at.in_time_zone('America/Chicago').strftime("%-m/%d/%Y %r %Z") %>

<small>Created: <%= created %></small><br>

<% if created != updated %>
    <small>Updated: <%= updated %></small>
<% end %><br>
<br>
<br>
<% if authorized_for?(@crop) %>
    <form action="/crops/<%= @crop.id %>/edit" method="get">
        <input type="submit" value="Edit Crop">
    </form><br>
    <form action="/crops/<%= @crop.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Crop">
    </form><br>
<% end %>